<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Изменить человека</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}(id = ${person.getPerson_id()})}" th:object="${person}">
    <label for="fullName">Введите ФИО</label>
    <input id="fullName" type="text" th:field="*{fullName}"/>
    <div style="color: red" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}">Name error</div>
    <br/>
    <label for="birthdate">Введите  год рождения</label>
    <input id="birthdate" type="text" th:field="*{birthdate}"/>
    <div style="color: red" th:if="${#fields.hasErrors('birthdate')}" th:errors="*{birthdate}">Birthdate error</div>
    <br/>
    <input type="submit" value="Редактировать!">
</form>


</body>
</html>