<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Поиск книг</title>
</head>
<body>
<form th:method="GET" th:action="@{/books/search}">
    <label for="name">Введите поисковой запрос</label>
    <input id="name" type="text" th:name="searchQuery">
    <br>
    <input type="submit" value="Найти!">
</form>

<div th:if="${mainPages == true}">
    <div th:if="${book != null}">
        <br>
        <p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</p>
        <div th:if="${person != null}">
            <p th:text="${'Книга сейчас у: ' + person.getFullName()}">person</p>
        </div>
        <div th:unless="${person != null}">
            <span>Книга свободна</span>
        </div>
    </div>
    <div th:if="${book == null}">
        <br>
        <span>Книг не найдено</span>
    </div>
</div>


</body>
</html>