<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Книга</title>
</head>
<body>
<p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">book</p>

<div th:if="${person == null}">
    <span>Эта книга свободна. Кому  назначить  ее? </span>
    <br/>
    <form th:method="PATCH" th:action="@{/books/assignBook/{id}(id = ${book.getBook_id()})}">
        <label for="person">Выберите человека</label>
        <select th:object="${nullPerson}" th:field="*{person_id}" id = "person">
            <option th:each="per : ${people}" th:value="${per.getPerson_id()}" th:text="${per.getFullName()}"></option>
        </select>
        <input type="submit" value="Назначить книгу"/>
    </form>

    <hr>
    <form th:action="@{/books/{id}/edit(id = ${book.getBook_id()})}">
        <input type="submit" value="Редактировать"/>
    </form>
    <form th:method="DELETE" th:action="@{/books/{id}(id = ${book.getBook_id()})}">
        <input type="submit" value="Удалить"/>
    </form>
</div>
<div th:unless="${person == null}">
    <span>Книга сейчас  у: <span th:text="${person.getFullName()}">person</span></span>
    <form th:method="PATCH" th:action="@{/books/free/{id}(id = ${book.getBook_id()})}">
        <input type="submit" value="Освободить"/>
    </form>

    <hr>
    <form th:action="@{/books/{id}/edit(id = ${book.getBook_id()})}">
        <input type="submit" value="Редактировать"/>
    </form>
    <form th:method="DELETE" th:action="@{/books/{id}(id = ${book.getBook_id()})}">
        <input type="submit" value="Удалить"/>
    </form>
</div>

<br/>
<a href="/books">К списку книг</a>

</body>
</html>